#about-me {
  background: #db4437;
}

.about-me:hover {
  color: red;
  cursor: pointer;
}

.about-me-img {
  width: var(--width);
}

/* Closable button inside the containerTab */
.closebtn {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 35px;
}

/* Reset hyperlink format */
.external-link {
  color: white;
  text-decoration: none;
}

.external-link:hover {
  color: blue;
}

#personal {
  background: #f4b400;
}

.personal:hover {
  color: gold;
  cursor: pointer;
}

#technical {
  background: #0f9d58;
}

.technical:hover {
  color: green;
  cursor: pointer;
}

.technical-img {
  width: var(--width);
}

.technical-vid {
  width: 700px;
  height: 394px;
}
