#coronavirus-chart {
  border: thin solid black;
  display: inline-block;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 700px;
  display: inline-block;
}

#pie-chart {
  border: thin solid black;
  display: inline-block;
}

#regions-chart {
  border: thin solid black;
  display: inline-block;
}
