#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.row {
  float: center;
  height: 450px;
  text-align: center;
}

.left {
  width: 60%;
  height: 100%;
  text-align: right;
  background-color: lightpink;
}

.right {
  width: 40%;
  height: 100%;
  line-height: 450px;
  text-align: left;
  background-color: lightsalmon;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p.red:hover {
  color: red;
}

p.green:hover {
  color: forestgreen;
}

p.yellow:hover {
  color: gold;
}

p.blue:hover {
  color: blue;
}

.link:hover {
  color: blue;
}

/* Reset hyperlink format */
.link {
  text-decoration: none;
  color: black;
}

.containerTab {
  float: center;
  width: 80%;
  padding: 20px;
  color: white;
  background: green;
  display: none;
}

/* Closable button inside the containerTab */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
